.container {
  text-align: center;padding: 100px 0;
  h1 {color: red;font-size: 30px;}
  .box{font-size:12px; color:#999;border:1px solid #d9d9d9;width:300px; margin: 15px auto;padding:15px 15px;text-align: left; }
  a {margin:0 15px 0 0;color:blue;font-size: 16px;}
}
